@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 body { zoom: 90%;
    background-image: url(../imagens/jornal.webp);
 }
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

#menu ul {   
    list-style: none;
    text-align: center;
    padding: 0;
    font-size: 113%;
    
}

#menu ul li {
    display: inline;
    text-align: center;
}

#menu ul li a {
    color:#381d2a;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: all .3s;
}

#menu ul li a:hover {
    color: #ba5624;
    transform: skew(-15deg);
    font-size: 108%;
}


